<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.jk.mapper.ContractMapper">

	<!-- 映射对象 -->
	<resultMap type="cn.itcast.jk.domain.Contract" id="contractRM">
		<id property="id" column="CONTRACT_ID" />
		<result property="cpnum" column="CPNUM" />
		<result property="epnum" column="EPNUM" />
		<result property="offeror" column="OFFEROR" />
		<result property="contractNo" column="CONTRACT_NO" />
		<result property="signingDate" column="SIGNING_DATE" />
		<result property="inputBy" column="INPUT_BY" />
		<result property="checkBy" column="CHECK_BY" />
		<result property="inspector" column="INSPECTOR" />
		<result property="totalAmount" column="TOTAL_AMOUNT" />
		<result property="cptotal" column="CPTOTAL" />
		<result property="eptotal" column="EPTOTAL" />
		<result property="crequest" column="CREQUEST" />
		<result property="customName" column="CUSTOM_NAME" />
		<result property="shipTime" column="SHIP_TIME" />
		<result property="importNum" column="IMPORT_NUM" />
		<result property="deliveryPeriod" column="DELIVERY_PERIOD" />
		<result property="remark" column="REMARK" />
		<result property="printStyle" column="PRINT_STYLE" />
		<result property="oldState" column="OLD_STATE" />
		<result property="state" column="STATE" />
		<result property="outState" column="OUT_STATE" />
		<result property="tradeTerms" column="TRADE_TERMS" />

		<result property="createBy" column="CREATE_BY" />
		<result property="createDept" column="CREATE_DEPT" />
		<result property="createTime" column="CREATE_TIME" />
	</resultMap>

	<!-- 查看,MyBatis联合多个对象的查询的结果集，不能有同名字段 -->
	<resultMap id="contractViewRM" type="cn.itcast.jk.domain.vo.Contract">
		<id property="id" column="CONTRACT_ID" />

		<result property="offeror" column="OFFEROR" />
		<result property="contractNo" column="CONTRACT_NO" />
		<result property="printStyle" column="PRINT_STYLE" />
		<result property="customName" column="CUSTOM_NAME" />
		<result property="signingDate" column="SIGNING_DATE" />
		<result property="inputBy" column="INPUT_BY" />
		<result property="checkBy" column="CHECK_BY" />
		<result property="inspector" column="INSPECTOR" />
		<result property="shipTime" column="SHIP_TIME" />
		<result property="deliveryPeriod" column="DELIVERY_PERIOD" />
		<result property="importNum" column="IMPORT_NUM" />
		<result property="tradeTerms" column="TRADE_TERMS" />
		<result property="crequest" column="CREQUEST" />
		<result property="remark" column="REMARK" />

		<!-- 货物信息 -->
		<collection property="contractProducts"
			ofType="cn.itcast.jk.domain.vo.ContractProduct">
			<id property="contractProductId" column="CONTRACT_PRODUCT_ID" />
			<result property="productNo" column="PRODUCT_NO" />
			<result property="productImage" column="PRODUCT_IMAGE" />
			<result property="productDesc" column="PRODUCT_DESC" />
			<result property="cnumber" column="CNUMBER" />
			<result property="packingUnit" column="PACKING_UNIT" />
			<result property="price" column="PRICE" />
			<result property="amount" column="AMOUNT" />

			<!-- 货物厂家 -->
			<association property="factory" javaType="cn.itcast.jk.domain.Factory">
				<id property="id" column="FACTORY_ID"/>		
				<result property="factoryName" column="FACTORY_NAME" />
				<result property="fullName" column="FULL_NAME" />
				<result property="contractor" column="CONTRACTOR" />
				<result property="phone" column="PHONE" />
			</association>

			<!-- 附件信息 -->
			<collection property="extCproducts" ofType="cn.itcast.jk.domain.vo.ExtCproduct">
				<id property="extCproductId" column="EXT_CPRODUCT_ID" />
				<result property="productNo" column="EXT_PRODUCT_NO" />
				<result property="productImage" column="EXT_PRODUCT_IMAGE" />
				<result property="productDesc" column="EXT_PRODUCT_DESC" />
				<result property="cnumber" column="EXT_CNUMBER" />
				<result property="packingUnit" column="EXT_PACKING_UNIT" />
				<result property="price" column="EXT_PRICE" />
				<result property="amount" column="EXT_AMOUNT" />

				<!-- 货物厂家 -->
				<association property="factory" javaType="cn.itcast.jk.domain.Factory">
					<id property="id" column="EXT_FACTORY_ID"/>		
					<result property="factoryName" column="EXT_FACTORY_NAME" />
					<result property="fullName" column="EXT_FULL_NAME" />
					<result property="contractor" column="EXT_CONTRACTOR" />
					<result property="phone" column="EXT_PHONE" />
				</association>
			</collection>
		</collection>
	</resultMap>

<!-- 出货表 -->
	<resultMap type="cn.itcast.jk.domain.vo.OutProduct" id="outProductRM">
		<id property="contractProductId" column="CONTRACT_PRODUCT_ID"/>
		<result property="customName" column="CUSTOM_NAME"/>
		<result property="contractNo" column="CONTRACT_NO"/>
		<result property="deliveryPeriod" column="DELIVERY_PERIOD"/>
		<result property="shipTime" column="SHIP_TIME"/>
		<result property="tradeTerms" column="TRADE_TERMS"/>
		<result property="factoryName" column="FACTORY_NAME"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="cnumber" column="CNUMBER"/>
	</resultMap>
	

	<!-- <select id="find" parameterType="cn.itcast.jk.domain.Contract" resultMap="contractRM"> 
		select * from contract_c where 1=1 </select> <select id="find" parameterType="cn.itcast.jk.domain.Contract" 
		resultMap="contractRM"> select ( select count(*) from contract_product_c 
		where contract_id=c.contract_id ) cpnum, ( select count(*) from ext_cproduct_c 
		where contract_product_id in ( select contract_product_id from contract_product_c 
		where contract_id=c.contract_id ) ) epnum, c.* from contract_c c </select> -->
	<select id="find" parameterType="cn.itcast.jk.domain.Contract"
		resultMap="contractRM">
		SELECT
		c.*, COUNT(*) AS cpnum, SUM(cnumber*price) AS cptotal,
		SUM(epnum) AS
		epnum, SUM(eptotal) AS eptotal
		FROM
		(
		SELECT * FROM
		contract_c 
		where 1=1 
		<if test="state!=null">
			and state=#{state}
		</if>
		) c
		LEFT JOIN
		contract_product_c cp
		ON c.contract_id=cp.contract_id
		LEFT JOIN
		(
		SELECT
		contract_product_id,COUNT(*) AS epnum,SUM(cnumber*price) AS eptotal
		FROM ext_cproduct_c
		GROUP BY contract_product_id
		) ep
		ON cp.contract_product_id=ep.contract_product_id
		GROUP BY cp.contract_id
		
	</select>

	<!-- 查看 -->
	<select id="view" parameterType="string" resultMap="contractViewRM">
				SELECT
		c.*,
		t.contract_product_id,t.product_no,t.product_image,t.product_desc,t.cnumber,t.packing_unit,t.price,t.amount,t.factory_id,t.factory_name,
    t.full_name,t.contractor,t.phone,
		t.ext_cproduct_id,t.ext_product_no,t.ext_product_image,t.ext_product_desc,t.ext_cnumber,t.ext_packing_unit,t.ext_price,t.ext_amount, t.ext_factory_id,t.ext_factory_name,
    t.ext_full_name,t.ext_contractor, t.ext_phone

		FROM

		(SELECT * FROM contract_c) c
		LEFT JOIN
		(
      		SELECT
      		cp.contract_product_id,cp.contract_id,cp.product_no, cp.product_image,cp.product_desc,cp.cnumber,cp.packing_unit,cp.price,cp.amount,cp.factory_id,cp.factory_name,
          cp.full_name,cp.contractor,cp.phone,
      		ep.ext_cproduct_id,ep.ext_product_no,ep.ext_product_image,ep.ext_product_desc,ep.ext_cnumber,ep.ext_packing_unit,ep.ext_price,ep.ext_amount,
          ep.ext_factory_id, ep.ext_factory_name, ep.ext_full_name, ep.ext_contractor, ep.ext_phone
      		FROM
      		(
          		SELECT
          		cp.contract_product_id,cp.contract_id,cp.product_no,cp.product_image,
          		cp.product_desc,cp.cnumber,cp.packing_unit,cp.price,cp.amount,f.factory_id,f.factory_name,
              f.full_name,f.contractor,f.phone
          		FROM
          		(SELECT factory,contract_product_id,contract_id,factory_id,product_image,product_no,
          		product_desc,cnumber,packing_unit, price,amount FROM contract_product_c) cp
          		LEFT JOIN
          		(SELECT factory_id,factory_name,full_name,contractor,phone FROM factory_c) f
          		ON cp.factory_id=f.factory_id
      		) cp
      		LEFT JOIN
      		(
      		     SELECT
      		     ep.ext_cproduct_id,ep.contract_product_id,ep.product_no as ext_product_no,ep.product_image as ext_product_image,ep.product_desc as ext_product_desc,ep.cnumber as ext_cnumber,
               ep.packing_unit as ext_packing_unit,ep.price as ext_price,ep.amount as ext_amount,
               f.factory_id as ext_factory_id,f.factory_name as ext_factory_name,f.full_name as ext_full_name,f.contractor as ext_contractor,f.phone as ext_phone
      		     FROM
      		     (SELECT ext_cproduct_id,contract_product_id,factory_id,product_no,product_image,product_desc,cnumber,packing_unit, price,amount FROM ext_cproduct_c) ep
      		     LEFT JOIN
      		     (  SELECT factory_id,factory_name,full_name,contractor,phone FROM factory_c) f
               ON ep.factory_id=f.factory_id
          ) ep
      		ON cp.contract_product_id=ep.contract_product_id
		) t
		ON c.contract_id=t.contract_id
		WHERE c.contract_id=#{id}
	</select>

	<select id="get" parameterType="cn.itcast.jk.domain.Contract"
		resultMap="contractRM">
		select * from contract_c where
		CONTRACT_ID=#{id}
	</select>

	<insert id="insert" parameterType="cn.itcast.jk.domain.Contract">
		insert into contract_c
		(CONTRACT_ID,OFFEROR,CONTRACT_NO,SIGNING_DATE,INPUT_BY,CHECK_BY,INSPECTOR,CREQUEST,CUSTOM_NAME,SHIP_TIME,IMPORT_NUM,DELIVERY_PERIOD,REMARK,PRINT_STYLE,OLD_STATE,STATE,OUT_STATE,TRADE_TERMS)
		values
		(uuid(),#{offeror},#{contractNo},#{signingDate},#{inputBy},#{checkBy},#{inspector},#{crequest},#{customName},#{shipTime},#{importNum},#{deliveryPeriod},#{remark},#{printStyle},#{oldState},#{state},#{outState},#{tradeTerms})
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="cn.itcast.jk.domain.Contract">
		update contract_c
		<set>
			<if test="offeror!=null">OFFEROR=#{offeror},</if>
			<if test="contractNo!=null">CONTRACT_NO=#{contractNo},</if>
			<if test="signingDate!=null">SIGNING_DATE=#{signingDate},</if>
			<if test="inputBy!=null">INPUT_BY=#{inputBy},</if>
			<if test="checkBy!=null">CHECK_BY=#{checkBy},</if>
			<if test="inspector!=null">INSPECTOR=#{inspector},</if>
			<if test="crequest!=null">CREQUEST=#{crequest},</if>
			<if test="customName!=null">CUSTOM_NAME=#{customName},</if>
			<if test="shipTime!=null">SHIP_TIME=#{shipTime},</if>
			<if test="importNum!=null">IMPORT_NUM=#{importNum},</if>
			<if test="deliveryPeriod!=null">DELIVERY_PERIOD=#{deliveryPeriod},</if>
			<if test="remark!=null">REMARK=#{remark},</if>
			<if test="printStyle!=null">PRINT_STYLE=#{printStyle},</if>
			<if test="oldState!=null">OLD_STATE=#{oldState},</if>
			<if test="state!=null">STATE=#{state},</if>
			<if test="outState!=null">OUT_STATE=#{outState},</if>
			<if test="tradeTerms!=null">TRADE_TERMS=#{tradeTerms},</if>
		</set>
		where CONTRACT_ID=#{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from contract_c where
		CONTRACT_ID=#{id}
	</delete>

	<delete id="deleteBatch" parameterType="string">
		delete from contract_c where CONTRACT_ID in
		<foreach collection="array" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>

	<!-- 更新状态 -->
	<update id="changeState" parameterType="map">
		update contract_c set state=#{state} where CONTRACT_ID in
		<foreach collection="ids" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</update>

	<!-- 出货表 -->
	<select id="findOutProduct" parameterType="string" resultMap="outProductRM">
		SELECT
		t.contract_product_id,
		c.custom_name,c.contract_no,SUBSTRING(c.delivery_period,1,10) AS delivery_period,SUBSTRING(c.ship_time,1,10) AS
		ship_time,c.trade_terms,
		t.factory_name,t.product_no,t.cnumber
		FROM
		(
		SELECT
		contract_id,custom_name,contract_no,delivery_period,ship_time,trade_terms
		FROM contract_c
		) c
		LEFT JOIN
		(
		SELECT
		cp.contract_product_id,
		cp.contract_id,
		f.factory_name,
		cp.product_no,cp.cnumber
		FROM
		(
		SELECT
		contract_product_id,
		contract_id,factory_id,
		product_no,CONCAT(cnumber,packing_unit) AS
		cnumber
		FROM contract_product_c
		) cp
		LEFT JOIN
		(
		SELECT factory_id,factory_name FROM factory_c
		) f
		ON cp.factory_id=f.factory_id
		) t
		ON c.contract_id=t.contract_id

		WHERE c.ship_time LIKE #{inputDate}
	</select>

	<!-- 出货表附件名称的获取 0104附件分类 ,返回值为列表List<String>-->
	<select id="getExtName" parameterType="string" resultType="string">
		SELECT
		s.name
		FROM
		(
		SELECT ctype FROM ext_cproduct_c
		WHERE contract_product_id = #{id}
		) e
		LEFT JOIN
		(
		SELECT order_no,NAME FROM sys_code_b WHERE parent_id='0104'
		) s
		ON e.ctype=s.order_no
	</select>
</mapper> 